<?xml version="1.0"?>

<robot name="gen3" xmlns:xacro="http://ros.org/wiki/xacro">


    <!-- Arguments -->
    <xacro:arg name="arm" default="gen3" />
    <xacro:arg name="vision" default="false" />
    <xacro:arg name="parent" default="world" />
    <xacro:arg name="robot_ip" default="192.168.1.10" />
    <xacro:arg name="username" default="admin" />
    <xacro:arg name="password" default="admin" />
    <xacro:arg name="port" default="10000" />
    <xacro:arg name="port_realtime" default="10001" />
    <xacro:arg name="session_inactivity_timeout_ms" default="60000" />
    <xacro:arg name="connection_inactivity_timeout_ms" default="2000" />
    <xacro:arg name="gripper" default="" />
    <xacro:arg name="gripper_joint_name" default="finger_joint" />
    <xacro:arg name="gripper_max_velocity" default="100.0" />
    <xacro:arg name="gripper_max_force" default="100.0" />
    <xacro:arg name="use_internal_bus_gripper_comm" default="false" />
    <xacro:arg name="use_external_cable" default="false" />
    <xacro:arg name="initial_positions" default="${dict(joint_1=0.0,joint_2=0.0,joint_3=0.0,joint_4=0.0,joint_5=0.0,joint_6=0.0,joint_7=0.0)}"/>
    <xacro:arg name="gripper_com_port" default="/dev/ttyUSB0" />
    
    <!-- Define world link -->
    <link name="world" />

    <!-- Include and load arm macro files -->
    <xacro:include filename="$(find kortex_description)/gen3_arm/urdf/${arm}_macro.xacro" />

    <!-- Load the arm -->
    <xacro:load_arm
      parent="${parent}"
      vision="${vision}"
      robot_ip="${robot_ip}"
      username="${username}"
      password="${password}"
      port="${port}"
      port_realtime="${port_realtime}"
      session_inactivity_timeout_ms="${session_inactivity_timeout_ms}"
      connection_inactivity_timeout_ms="${connection_inactivity_timeout_ms}"
      use_internal_bus_gripper_comm="${use_internal_bus_gripper_comm}"
      gripper_joint_name="${gripper_joint_name}"
      gripper_max_velocity="${gripper_max_velocity}"
      gripper_max_force="${gripper_max_force}"
      use_external_cable="${use_external_cable}"
      initial_positions="${initial_positions}">
      <origin xyz="0 0 0" rpy="0 0 0" />  <!-- position the robotic arm in the world -->
    </xacro:load_arm>

    <!-- If no gripper, define tool frame here -->
    <xacro:if value="${not gripper}">
      <link name="tool_frame"/>
      <joint name="tool_frame_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="${last_arm_link}" />
        <child link="tool_frame" />
        <axis xyz="0 0 0" />
      </joint>
    </xacro:if>

    <!-- Include and load the gripper if defined -->
    <xacro:unless value="${not gripper}">
      <xacro:include filename="$(find kortex_description)/gripper_robotiq_2f_85/urdf/${gripper}_macro.xacro" />
      <!-- last_arm_link is defined in "$(find kortex_description)/gen3_arm/urdf/${arm}_macro.xacro" -->
      <xacro:load_gripper
        parent="${last_arm_link}"
        com_port="${gripper_com_port}"
        use_internal_bus_gripper_comm="${use_internal_bus_gripper_comm}"/>
    </xacro:unless>

  </xacro:macro>
</robot>
