<?xml version="1.0"?>
<robot name="robotiq_2f_85_model" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="load_gripper" params="
    parent:=end_effector_link
    prefix
    use_internal_bus_gripper_comm:=false
    com_port:=/dev/ttyUSB0">
    <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro" />

    <!-- Hardware talks directly to the gripper so we don't need ros2_control unless we are simulating -->
    <xacro:if value="${use_internal_bus_gripper_comm}">
      <xacro:property name="include_ros2_control" value="false"/>
    </xacro:if>
    <xacro:if value="${not use_internal_bus_gripper_comm}">
      <xacro:property name="include_ros2_control" value="true"/>
    </xacro:if>

    <xacro:robotiq_gripper
        name="RobotiqGripperHardwareInterface"
        prefix="${prefix}"
        parent="${parent}"
        include_ros2_control="${include_ros2_control}"
        com_port="${com_port}">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:robotiq_gripper>
  </xacro:macro>
</robot>
